# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executable files
banking
*.exe

# Build directory
build/
dist/
*.out

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.sublime-project
*.sublime-workspace

# Debugging
*.dSYM/
*.su
*.gch

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Temporary files
*.tmp
*.bak
